$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/quixamAllVariables";
@import "common/quixamUtilities";
@import "quixamInputTypes/quixamTextField";
@import "quixamQuestionAnswers/quixamQuestionText";
@import "quixamInputTypes/quixamRadioButton";
@import "quixamInputTypes/quixamCheckBox";
@import "quixamVisualizationComponents/quixamCircularProgress";
@import "quixamLoaders/quixamCircleLoader";
@import "quixamQuestionAnswers/quixamAnswerIcon";
@import "common/project/quixamNavigation";
@import "common/project/createAssignmentFlow";
@import "common/project/profile";


body{
  font-family: $q-font-family;
}

label{
  font-weight: normal !important;
}
