////////////////////////// quixam-colors
$q-color-text: #707070;
$q-color-text-dark: #333;
$q-color-primary: #e68a00;
$q-color-wrong: #d22d6f;
$q-color-correct: #6bf53d;
$q-color-info: #0077b3;
$q-color-warn: #e6ac00;
$q-color-error: #cc0000;
$q-color-nav: #f8f8f8;
$q-color-background: #34495e;

//////////////////////// quixam-spaces

$q-space: 16px;
$q-space-1x: 8px;
$q-space-2x: 16px;
$q-space-3x: 24px;
$q-space-4x: 32px;
$q-space-5x: 40px;

////////////////////// quixam-fonts

$q-font-family: "Comic Sans MS", cursive, sans-serif;
$q-font-size-base: 16px;
$q-font-size-text: 20px;
$q-font-size-h3: 24px;
$q-font-size-message: 14px;

