<div style="margin: 16px">
  <h4>Select Exam Mode</h4>
  <quixam-radio-button
    data-name="'inputvalue'"
    data-text-value="'Custom Exam Mode'"
    data-model="vm.isSelected"
    data-on-change="vm.onSelectOption(ctrl)"
    data-is-disabled="vm.isDisabled"
    data-value="'CUSTOM'">
  </quixam-radio-button>
  <quixam-radio-button
    data-name="'inputvalue'"
    data-text-value="'Standard Exam Mode'"
    data-model="vm.isSelected"
    data-on-change="vm.onSelectOption(ctrl)"
    data-is-disabled="vm.isDisabled"
    data-value="'STANDARD'">
  </quixam-radio-button>
  <quixam-radio-button
    data-name="'inputvalue'"
    data-text-value="'Question by Question Mode'"
    data-model="vm.isSelected"
    data-on-change="vm.onSelectOption(ctrl)"
    data-is-disabled="vm.isDisabled"
    data-value="'QBQ'">
  </quixam-radio-button>


</div>

