
<quixam-navigation data-nav-data="vm.navData"></quixam-navigation>

<div class="q-profile" flex>
  <div flex-gt-sm="30" flex-sm="40">
    <md-card>
      <img src="../images/yeoman.png" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <md-list ng-cloak>
          <md-subheader class="md-no-sticky">Edit Profile</md-subheader>
          <md-list-item>
            <p> Change image </p>
            <md-button class="md-fab md-mini md-primary" ng-style="{'background-color': '#34495e'}">
              <md-icon ng-style="{'color': white}"
                       aria-label="'insert_photo'"
                       class="material-icons step"
                       ng-class="'md-24'"
                       ng-bind="'insert_photo'">
              </md-icon>
            </md-button>
          </md-list-item>
          <md-list-item>
            <p> Update Username </p>
            <md-button class="md-fab md-mini md-primary" ng-style="{'background-color': '#34495e'}">
              <md-icon ng-style="{'color': white}"
                       aria-label="'mode_edit'"
                       class="material-icons step"
                       ng-class="'md-24'"
                       ng-bind="'mode_edit'">
              </md-icon>
            </md-button>
          </md-list-item>
          <md-list-item>
            <p> Update Password </p>
            <md-button class="md-fab md-mini md-primary" ng-style="{'background-color': '#34495e'}">
              <md-icon ng-style="{'color': white}"
                       aria-label="'mode_edit'"
                       class="material-icons step"
                       ng-class="'md-24'"
                       ng-bind="'mode_edit'">
              </md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

</div>


