<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Assignment Title
        <md-button class="md-fab md-mini md-primary">
          <md-icon ng-style="{color: blue}"
                   aria-label="'launch'"
                   class="material-icons step"
                   ng-class="'md-24'"
                   ng-bind="'launch'">
            </md-icon>
        </md-button>

      </span>
      <span class="md-subhead">Lesson Title</span>
      <span class="md-subheader-content"> Assignment Id : 10976543</span>
      <span class="md-subheader-content">Status : Not Started</span>
      <span class="md-subheader-content">Start Date: 11/12/2017 9:00 pm</span>
      <span class="md-subheader-content">Due Date: 13/12/2017 9:00 pm</span>
    </md-card-title-text>

  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>
